<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">

        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">

                <h4 class="card-title">
                        <a th:href="@{/clients/form}" class="btn btn-primary">Agregar Cliente</a>
                </h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                                <th>Id</th>
                                <th>
                                    
                                <a th:href="@{'/clients/listAll?page=' + ${currentPage} + '&sortField=name&sortDir=' + ${reverseSortDir}}">
                                    Nombre
                                </a>
                                </th>                                
                                <th>
                                    <a th:href="@{'/clients/listAll?page=' + ${currentPage} + '&sortField=mobile&sortDir=' + ${reverseSortDir}}">
                                    Teléfono
                                    </a>
                                </th>
                                <th>email</th>
                                <th>Registrar venta</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="client: ${clients}">
                            <td><a class="btn btn-primary btn-xs"
                                    th:href="@{/clients/detail/} + ${client.id}" th:text="${client.id}"></a></td>
                            <td th:text="${client.name}"></td>


                            <td th:text="${client.mobile}"></td>
                            <td th:text="${client.email}"></td>

                            <td><a class="btn btn-success btn-sm"
                                    th:href="@{'/factura/form/' + ${client.id}}"
                                    th:text="'Registrar Venta'"></a></td>
                            <td><a class="btn btn-primary btn-sm"
                                    th:href="@{/client/form/} + ${client.id}" th:text="'Editar'"></a></td>
                            <td><a class="btn btn-danger btn-sm"
                                    th:href="@{/client/eliminar/} + ${client.id}" th:text="'Eliminar'"
                                        onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
                        </tr>
                    </tbody>

                </table>    
                <!-- nav  th:replace="client/paginator-nav :: paginator"></nav -->
                <div th:if ="${totalPages > 1} ">
                    <div class = "row col-sm-10">
                        <div class = "col-sm-2">
                            Total: [[${totalItems}]]
                        </div>    
                        <div class ="col-sm-1">
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}"> 
                                <a th:if="${currentPage != i}" th:href="@{'/clients/listAll?page=' + ${i} + 
                                   '&sortField=' + {sortField} + '&sortDir=' + ${sortDir}}"> [[${i}]] </a>
                                <span th:unless="${currentPage!=i}">[[${i}]]</span> &nbsp;&nbsp;
                            </span>
                        </div>
                        <div class ="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/clients/listAll?page=' + ${currentPage + 1} +
                               '&sortField=' + {sortField} + '&sortDir=' + ${sortDir}}"> Next </a> 
                            <span th:unless="${currentPage < totalPages}"> Next </span>
                        </div>
                        <div class ="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/clients/listAll?page=' + ${totalPages} + 
                               '&sortField=' + {sortField} + '&sortDir=' + ${sortDir}}"> Last </a> 
                            <span th:unless="${currentPage < totalPages}"> Last </span>
                        </div>
                    </div>                    
                </div>            
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>